
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inflation Calculator</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/ICS.css" />
</head>
<%- include('partials/navbar') %>
<body class="bg-body-tertiary">
  <%- include('partials/header') %>
  <div class="container mt-5" id="inflation-root"></div>
  <%- include('partials/footer') %>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/js/ICS.js"></script>
  <%- include('partials/footer') %>
</body>
</html>
